.front_page {
    
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header{
    text-align: center;
    font-size: larger;
    color: rgb(163, 172, 181);
}

.card {
    
    width: 370px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_text input[type="text"] {
    color: black;
     text-align: center;
  }
  

  .input_text input::placeholder {
    color: #999;
      text-align: center;
  }
